:root {
  --darkGrey: #3f3f3f;
  --blue: #2f8fed;
  --purpleBlue: #4c6aff;
  --purple: #995bef;
  --pink: #ea6ed3;
  --offWhite: #f5f5f5;
  --violet: #7a4eab;
  --indigo: #4332cf;
  --bodyText: 1.5rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--bodyText);
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: space-around;
  background-color: var(--blue);
  transition: background-color 1s ease;
}

.panel {
  flex-direction: column;
  padding:20px;
}

header {
  order: 1;
  background-color: var(--blue);
  color: var(--offWhite);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}
.decoration {
  border: 1px solid black;
}
#logo {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 10px 5px 5px var(--blue);
  display: flex;
  font-size: 4rem;
  flex-shrink: 1;
  transform: skew(-10deg);
}

.panel {
  /* min height incase content is higher than window height */
  /* min-height: 100vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}
.color-violet {
  background-color: var(--violet);
}
.color-indigo {
  background-color: linear-gradient(to top right, var(--indigo), var(--blue));
}
.color-blue {
  background-color: linear-gradient(to top right, var(--blue), var(--pink));
}
nav ul {
  margin: 0;
  background-color: var(--purpleBlue);
  display: flex;
  justify-content: space-around;
}
.nav-item {
  list-style: none;
}
.nav-item > a {
  text-decoration: none;
  /* color: var(--offWhite); */
  color: red;
}
main {
  order: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1 2 1;
  justify-content: space-around;

}
main > div {
  margin: 1rem;
}
footer {
  order: 3;
  margin: 0 auto 0 0;
}

@media only screen and (max-width: 600px) {
  body {
    /* background-color: yellow; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    justify-content: space-around;
  }
<<<<<<< HEAD

  header {
    order: 0;
=======
  .fixed-nav nav{
    position:fixed;
    box-shadow:0 5px rgb(0,0,0,.1);
  }
  
header {
>>>>>>> 25dac66f8470552923d4a1a7a3b2a0cd9372b3f8
    /* height: 10rem; */
    background-color: var(--blue);
    color: var(--offWhite);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    flex: 2;
  }
  #logo {
    font-family: Arial, Helvetica, sans-serif;
    background: red;
    box-shadow: 10px 5px 5px var(--blue);
    display: flex;
    font-size: 2rem;
    flex-shrink: 1;
  }

  nav ul {
    margin: 0;
    background-color: var(--purpleBlue);
    display: flex;
    justify-content: space-around;
  }
  .nav-item {
    list-style: none;
  }
  .nav-item > a {
    text-decoration: none;
    /* color: var(--offWhite); */
    color: red;
  }
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1 2 1;
    justify-content: space-around;
    background: linear-gradient(to top right, var(--blue), var(--pink));
  }
  main > div {
    margin: 1rem;
  }
  footer {
    margin: 0 auto 0 0;
  }
}
