.navbar-inverse {
    background-color: grey;
    border-color: grey;
    border-radius: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.nav.nav-social {
    margin-left: 6px;
    margin-top: 6px;
}

.nav.nav-social>li>a {
    color: #12153e;
    background: #fff;
    padding: 6px 9px 3px 9px;
}

.nav.nav-social>li.btn-facebook>a {
    padding: 6px 11px 3px 11px;
}

.nav.nav-social>li.btn-twitter>a {
    padding: 6px 8px 3px 8px;
}

.nav.nav-social>li>a {
    color: #12153e;
    background: #fff;
    padding: 6px 9px 3px 9px;
}

.nav.nav-utility {
    margin-top: -33px;
    padding-right: 26px;
}

.nav-pills>li {
    margin-left: 2px;
    float: left;
}

.nav.nav-utility>li>a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    padding: 9px 9px 6px 9px;
}