body {
  background: #475cd1;
  color: #be2525;
  border: solid 1px #be2525;
}
body main {
  color: #be2525;
  border: solid 1px #be2525;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  zoom: 1;
}
body main:after,
body main:before {
  content: "";
  display: table;
}
body main:after {
  clear: both;
}
