.dot {
  border-radius: 50%;
  background: black;
  height: 50px;
  width: 50px;
}
.glow {
  border-radius: 50%;
  background: red;
  height: 50px;
  width: 50px;
  transform: 2s;
  box-shadow: pink;
  filter: blur(8px);
  display: show;
}
body {
  background: black;
}
