body {
  background: #00f;
}
.navbar-header,
.navbar-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  background-color: #d3d3d3;
  position: fixed;
  top: 0;
  width: 100%;
}
li a {
  display: block;
}
