.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
  }
  .wrapper > * {
    grid-column: col-start / span 12;
  }
  @media (min-width: 500px) {

    .side {
      grid-column: col-start / span 3;
      grid-row: 3;
    }
    .ad {
      grid-column: col-start / span 3;
      grid-row: 4;
    }
    .content, .main-footer {
      grid-column: col-start 4 / span 9;
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }
  @media (min-width: 700px) {
    .main-nav {
      grid-column: col-start / span 2;
      grid-row: 2 / 4;
    }
    .content {
      grid-column: col-start 3 / span 8;
      grid-row: 2 / 4;
    }
    .side {
      grid-column: col-start 11 / span 2;
      grid-row: 2;
    }
    .ad {
      grid-column: col-start 11 / span 2;
      grid-row: 3;
    }
    .main-footer {
      grid-column: col-start / span 12;
    }
    nav ul {
      flex-direction: column;
    }
  }

.listing {
    list-style: none;
    margin: 2em;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  }
  .listing li {
    border: 1px solid #ffe066;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .listing .cta {
    margin-top: auto;
    border-top: 1px solid #ffe066;
    padding: 10px;
    text-align: center;
  }
  .listing .body {
    padding: 10px;
  }
  .listing .wide {
    grid-column-end: span 2;
  }